<!DOCTYPE html>
<html>
  <head>
    <title>Picle</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'stylesheets', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link href="https://fonts.googleapis.com/css?family=Fira+Sans:400,700|Montserrat:300&display=swap" rel="stylesheet">
  </head>

  <body>
    <div class="container mx-auto px-4">
      <%= yield %>
  </body>
</html>
